:root {
    --color-links: rgb(203, 132, 0);
    --color-brand: rgb(203, 132, 0);
}

.toctree-l1.current>ul {
    display: block !important;
}

/* Transparent background for body and sidebar */
/* body {
    background-color: transparent !important;
    font-family: Arial, sans-serif;
} */
/* 
.wy-nav-side {
    background-color: transparent !important;
} */

/* Apply a light gray background to code and console blocks */
/* .highlight-default {
    background-color: #f8f8f8;
} */

/* Indentation for code blocks
.highlight-default pre {
    margin-left: 2em;
}

/* Format table borders */
/* table {
    border-collapse: collapse;
    width: 100%;
} */

/* table,
th,
td {
    border: 1px solid #ccc;
    padding: 6px;
} */

/* Add alternate row colors to tables */
/* table tr:nth-child(even) {
    background-color: #f2f2f2;
} */

/* Style section headings (you can adjust font size and boldness) */
/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 18px;
    font-weight: bold;
} */